<h2>History</h2>
<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Action</th>
                <th class="text-center">Status</th>
                <th>Changes</th>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for cr in history %}
            <tr>
                <td class="text-nowrap text-center"><small>{% if cr.date_modified %}{{ cr.date_modified|date:'SHORT_DATETIME_FORMAT' }}{% else %}{{ cr.date_created|date:'SHORT_DATETIME_FORMAT' }}{% endif %}</small></td>
                <td class="text-center"><span class="badge {% if cr.request_type == cr.Type.ADD %}badge-success{% elif cr.request_type == cr.Type.MODIFY %}badge-info{% elif cr.request_type == cr.Type.DELETE %}badge-danger{% else %}badge-secondary{% endif %}">{{ cr.get_request_type_display }}</span></td>
                <td class="text-center"><span class="badge {% if cr.status == cr.Status.PENDING %}badge-info{% elif cr.status == cr.Status.APPROVED %}badge-success{% elif cr.status == cr.Status.DENIED %}badge-warning{% elif cr.status == cr.Status.REVERTED %}badge-danger{% else %}badge-secondary{% endif %}">{{ cr.get_status_display }}</span></td>
                <td class="w-100">
                {% if cr.request_type != cr.Type.ADD %}
                    {% for field in cr.diff %}
                        {{ field|title }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        -
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
                </td>
                <td class="text-nowrap">{% block user %}{{ cr.user.username }}{% endblock user %}</td>
                <td>{% if perms.changerequest.view_changerequest %}<a class="btn btn-outline-secondary btn-sm py-0" href="{{ cr.get_absolute_url }}">View</a>{% endif %}</td>
            </tr>
        {% empty %}
            <tr><td class="font-italic text-center" colspan="6">None</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>